footer
  .footer-container
    .footer-column
      .email-row
        .footer-text Sign Up for Updates
        form#emailRegistration
          input#emailregister.footer-input(type='email', placeholder='Enter Your Email Address', autocomplete='email')
          button.submit.footer-btn Register
      .footer-row
        #copyright
    .footer-column
      .footer-row
        .footer-logo
          img(src='images/AD_Footer_Logo.png')
        .text-container
          .footer-text-small Call Us
          a(href='tel:9492741972')
            .footer-text 949-274-1972
          .footer-text-small Email Us
          a(href='mailto:info@audreyprint.com')
            .footer-text info@audreyprint.com