.res-nav
  .res-title Account Links
  if user
    if user.role == 'admin'
      a#newLogin(href='/account')
        .res-link Admin Account
    else
      a#newLogin(href='/account')
        .res-link= user.name.firstName + '\'s Account'
    a#logout2
      .res-link Log Out
  else
    a#newLogin(href='/signup')
      .res-link Create an Account
    a#login(href='/login')
      .res-link Login to Account
  .res-title Services
  a(href='/embroidery')
    .res-link Embroidery
  a(href='/print')
    .res-link Printing
    .res-title Art Services
  a(href='/graphic')
    .res-link Graphic Design
  a(href='/vector')
    .res-link Vector Conversion
  a(href='/digitizing')
    .res-link Digitizing
  .res-title More Services
  a(href='/dtf')
    .res-link DTF Info
  a(href='/contact')
    .res-link Contact Us
  a#open.open
    .res-link Get A Quote
header
  div(class='header_container')
    div(class='header_logo')
      a(href='/')
        img(src='images/AD_Header_Logo.png')
    .res-links
      i.fa-solid.fa-bars
    div(class='header_links')
      div(class='account_links')
        if user
          if user.role == 'admin'
            a#newLogin(href='/account')
              div(class='text_link') Admin Account
          else
            a#newLogin(href='/account')
              div(class='text_link')= user.name.firstName + '\'s Account'
          a#logout
            div(class='text_link') Log Out
        else
          a#newLogin(href='/signup')
            div(class='text_link') Create Account
          a#login(href='/login')
            div(class='text_link') Login
      nav
        a(href='/embroidery')
          div(class='nav_link') Embroidery
        a(href='/print')
          div(class='nav_link') Printing
        div(class='nav_link droplink') Art Services 
          i.navspace.fa-solid.fa-caret-down
          .dropdown
            a(href='/graphic')
              .dropdownLink Graphic Design
            a(href='/vector')
              .dropdownLink Vector Conversion
            a(href='/digitizing')
              .dropdownLink Digitizing
        a(href='/dtf')
          div(class='nav_link droplink') DTF Info
        a(href='/contact')
          div(class='nav_link') Contact
