.res-nav
  .res-title Account Links
  a#newLogin(href='/signup')
    .res-link Create an Account
  a(href='/temp')
    .res-link Login to Account
  .res-title Services
  a(href='/temp')
    .res-link Full Service Embroidery
  a(href='/temp')
    .res-link Full Service Printing
  a(href='/temp')
    .res-link Single Image Transfers
  a(href='/temp')
    .res-link Transfer Gang Sheets
  a(href='/temp')
    .res-link Blank Garments
  .res-title Art Services
  a(href='/temp')
    .res-link Graphic Design
  a(href='/temp')
    .res-link Vector Conversion
  a(href='/temp')
    .res-link Digitizing
  .res-title More Services
  a(href='/dtf')
    .res-link DTF Info
  a(href='/temp')
    .res-link Contact Us
  a#open.open
    .res-link Get A Quote
header
  div(class='header_container')
    div(class='header_logo')
      a(href='/')
        img(src='images/AD_Header_Logo.png')
    .res-links
      i.fa-solid.fa-bars
    div(class='header_links')
      div(class='account_links')
        if user
          if user.role == 'admin'
            a#newLogin(href='/account')
              div(class='text_link') Admin Account
          else
            a#newLogin(href='/account')
              div(class='text_link')= user.name.firstName + '\'s Account'
          a#logout
            div(class='text_link') Log Out
        else
          a#newLogin(href='/signup')
            div(class='text_link') Create Account
          a#login(href='/login')
            div(class='text_link') Login
      nav
        a(href='/temp')
          div(class='nav_link') Embroidery
        div(class='nav_link droplink') Print Services 
          i.navspace.fa-solid.fa-caret-down
          .dropdown
            a(href='/temp')
              .dropdownLink Full Service Printing
            a(href='/temp')
              .dropdownLink Single Image Transfers
            a(href='/temp')
              .dropdownLink Transfer Gang Sheets
        div(class='nav_link droplink') Art Services 
          i.navspace.fa-solid.fa-caret-down
          .dropdown
            a(href='/temp')
              .dropdownLink Graphic Design
            a(href='/temp')
              .dropdownLink Vector Conversion
            a(href='/temp')
              .dropdownLink Digitizing
        a(href='/dtf')
          div(class='nav_link droplink') DTF Info
        a(href='/temp')
          div(class='nav_link') Contact
