extends lpbase

block content
  .wrapper
  .content.brick-fill
    .contentContainer
      .contentFrame
        .content-header-title Transfer Application &#38; Care
        .content-text With proper care, DTF prints can be incredibly durable, lasting as long as the product they're applied to. Care generally involves washing at cooler temperatures and avoiding aggressive tumble drying or dry cleaning. However, it's crucial to note that proper application is the foundation of a long-lasting DTF print. An incorrectly applied transfer may not achieve the same level of durability.
        .content-text
          .content-subtitle Position the transfer
          .content-text The transfer should be placed face down on the garment, with the film on top and the adhesive touching your garment or substrate. Make sure the transfer is centered and aligned properly. 
          .content-subtitle Heat Press
          .content-text Press your transfer with medium to firm pressure with a temperature setting of  310°F/155°C to 320°F/160°C for 10 to 15 seconds. Too much heat can damage your garment, so always test first and use parchment paper or a teflon sheet to protect your garment from direct heat.
          .content-subtitle Cold Peel
          .content-text After pressing, remove from the press and allow transfer rest until it is cool to the touch (15-30 seconds). Once cool, lift the transfer from one corner and gently peel back. If you notice the design is not sticking or the paper is not peeling cleanly, stop peeling, lay it back down, and press again for 5 to 10 seconds. If a second press doesn’t resolve the issue, you may need to increase the pressure on your heat press slightly. 
          .content-subtitle Final Press and Care
          .content-text To soften the design, increase durability, and remove shine, place a teflon sheet, parchment paper, or a single layer of t-shirt material over the design and heat press again for 10 seconds. When washing, turn shirt inside out, wash on cold, and dry using low heat or hang.
