extends newbase

block content
  .content
    .page-content-container
      .page
        h1 Art Services
        .artpage-break
        .two-column 
          .column 
            .columnImg(style="background-image: url(images/graphic_image.png)")
          .column 
            h2 Graphic Design
            .content-text
              | Audrey Designs has been providing graphic art services for over 25
              | years, specializing in visual communication through both printed
              | and digital mediums. Services include custom art design,
              | rendering, illustration, photography, photo modification,
              | digital color separation, raster art file vectorization, as well
              | as reproduction and restoration of existing art.
            a(href='/graphic')
              .link.right 
                i.fa-solid.fa-arrow-right-long 
                | Get More Info
        .artpage-break
        .two-column     
          .column 
            .columnImg(style="background-image: url(images/vector_conversion.png)")
          .column 
            h2 Vector Conversion
            .content-text
              | Years of professional experience makes Audrey Design &amp; Print
              | Studio an excellent choice for high quality vector images with a
              | quick turnaround. Vector art is required by many commerical
              | printers and is typically the best art option for consistent
              | clean results. We can provide you with vector art from a variety
              | of image sources.
            a(href='/vector')
              .link.right 
                i.fa-solid.fa-arrow-right-long 
                | Get More Info

        .artpage-break
        .two-column 
          .column 
            .columnImg(style="background-image: url(images/embroidery_image.png)")    
          .column 
            h2 Digitizing
            .content-text
              | Digitizing for embroidery is the process of converting artwork into a digital file 
              | that an embroidery machine can read and stitch. Audrey Designs provides professional 
              | custom embroidery digitizing services for your logo and image digitization.
              | Wether we are providing embroidery services for your project or you just need an art 
              | file digitized, we are happy to help you with your project and 
              | provide you with high-quality digitized artwork.
            a(href='/digitizing')
              .link.right 
                i.fa-solid.fa-arrow-right-long 
                | Get More Info
        