extends newbase

block content
  .content
    .page-content-container
      .page
        h1.left Contact Us
        .content-text We are currently working on an online system for ordering services via our web site. 
          | In the meantime, please fill out the form below to request a quote or for more information on any of our services. We will respond via your preferred contact method as soon as possible. Alternately, feel free 
          | to contact us by calling our office or emailing us at the address below. 
        .contact-row 
          .contact-column
            .contact-title 
              a(href='tel:9492741972')
                i.fa-solid.fa-phone
                .content-column-text 949-274-1972
          .contact-column 
            .contact-title
              a(href="mailto:info@audreyprint.com")
                i.fa-solid.fa-envelope
                .contact-column-text info@audreyprint.com

        form#message-form
          .row
            .group
              label.message-label(for='requestType') What are you inquiring about?
              select.message-input(name='requestType' id='requestType' required) 
                option(value='' selected) -- Please Select --
                option(value='Quote Request') Quote Request
                option(value='Order Inquiry') Order Inquiry
                option(value='Send A Message') Send A Message
            .group
              label.message-label(for='service') What service do you need?
              select.message-input(name='service' id='service' required) 
                option(value='' selected) -- Please Select --
                option(value='Printing') Printing
                option(value='Embroidery') Embroidery
                option(value='Graphic Design') Graphic Design
                option(value='Vector Conversion') Vector Conversion
                option(value='Digitizing') Digitizing
                option(value='Other') Other
          .row
            .group
              label.message-label(for='firstName') First Name
              input.message-input(id='firstName', type='text', required)
            .group
              label.message-label(for='lastName') Last Name
              input.message-input(id='lastName', type='text', required)
          .row
            .group
              label.message-label(for='email') Email
              input.message-input(id='email', type='email', required)
            .group
              label.message-label(for='messagePhone') Phone
              input.message-input(id="messagePhone" name='messagePhone' type='text' placeholder='Please enter a phone number' value='')
          .group
            label.message-label Preferred Contact Method:
            select.message-input(name='contactmethod' id='contactmethod' required) 
                option(value='email' selected) Email
                option(value='phone') Phone

          .row
            .group(style="width: 100%")
              label.message-label(for='message') Message
              textarea.message-area(rows="7" id="message" name='message' form='message-form' placeholder='Enter your message here' required)
          .row
            .button-container
              button.submit.btn.btn-primary Send Message
