extends newbase

block content
  .content
    .page-content-container
      .page
        h1 Digitizing
        .content-text
          img.right-page-image(src="/images/embroidery_image.png")
          | Digitizing for embroidery is the process of converting artwork into a digital file 
          | that an embroidery machine can read and stitch.
          | Audrey Designs provides professional custom embroidery digitizing services for your 
          | logo and image digitization. 
    
        h3 FILE TYPES ACCEPTED
        ul.list.grid
          li JPG
          li PNG
          li PDF
          li EPS
          li AI
          li SVG
          li DOC/DOCX
          li XLS/XLSX
          li TIFF
          li BMP
          li PSD
        .content-text If you have an art file in a different format, send it anyway - we'll let you know if we can't open it.

        .content-text
          | When subitting art files for digitizing, there are two important factors to consider - image size and file size. We suggest that you submit 
          | a relatively large image, ideally at 300dpi resolution (e.g. if the desired size is 3" x 3", 
          | at 300 dpi, the image size will be 900 x 900 pixels). However, please prepare a relatively smaller 
          | file size, recommended to be below 2MB. Again, keep in mind that generally JPG and PNG are good in 
          | compression, while TIFF and BMP may be 10 times larger in file size.

        .content-text 
          h3 DIGITIZED FILES
          | Digitized files will be returned to you as DST 
          | files, which are the standard file type for commercial embroidery machines. We will also 
          | include a PDF Proof as well as a Run Sheet which has the color breakdowns or "color 
          | stops", amount of trims, a picture of the logo, and other important information needed for the embroidery process. 

        .content-text
          | Wether we are providing embroidery services for your project or you just need an art 
          | file digitized, we are happy to help you with your project and 
          | provide you with high-quality digitized artwork. Feel free to 
          span
            a(href="/contact") contact us 
            | with any questions, to get a quote, or to place an order for digitizing.
