extends newbase

block content
  .wrapper
    .form-content
      .form-container
        h1= title
        p.form-text Enter your email below to receieve a password reset link.
        form.form--forgotpassword
          .form-group
            label.form-label(for='email') Email address
            input#email.form-input(type='email', placeholder='you@example.com', required)
          .form-group        
            button.submit.btn.btn-primary Send Reset Link