extends newbase

block content
  .content
    .page-content-container
      .page
        h1 Graphic Design Services
        .content-text
          img.right-page-image(src="/images/graphic_image.png")
          | Audrey Designs has been providing graphic art services for over 25
          | years, specializing in visual communication through both printed
          | and digital mediums. Services include custom art design,
          | rendering, illustration, photography, photo modification,
          | digital color separation, raster art file vectorization, as well
          | as reproduction and restoration of existing art.
        h3 DESIGNS FOR
        ul.list.grid2
          li Printed Apparel
          li Embroidery
          li Logos
          li Business Cards
          li Invitations
          li Brochures
          li Marketing Materials
          li Packaging
          li Web &amp; Email Marketing
          li and more...

        .content-text
          | With every project, we work tirelessly to meet or exceed your custom design expectations.
          | Let us help you create something you will love and can be proud of for years to come. 

        a(href='/portfolio')
            .info-link View Past Projects

