extends newbase

block content
  #temp-notice
    .temp-content
      i#close-temp.fa-solid.fa-xmark
      h1.center Our site is in the final stages of development
      .text.center.bigger  
        | Thank you for your patience while we work on the finishing touches.  
        | Please feel free to browse our site to request a quote or sign up for email updates to be notified
        | when the site is fully functional.
  .banner-container
    section.banner
      img.slide(src='images/banner_Image.png')
      .slide
        .slide-text Our mission is to help spread the word about your unique brand and all you have to offer!
    section.res-banner
      img.reslide(src='images/banner_Image_res.png')
      .reslide
        .slide-text Our mission is to help spread the word about your unique brand and all you have to offer!
  section.secondary
    .container
      h1 Our Services
      .three-column
        .column
          .title Custom Printing
          .text.center
            | We create your artwork, supply garments, print, and ship your
            | order from start to finish! Using the latest in DTF technology,
            | soft-hand application, and specialized art techniques, we can
            | print virtally any artwork on any garment.
          a(href='/print')
            .info-link Get More Info
        .column
          .title Embroidery
          .text.center
            | Take your custom apparel and promotional items to the next level
            | with our professional embroidery services. You just can't get a 
            | better quality service than having your items decroated with
            | high-end embroidery. 
          a(href='/temp')
            .info-link Get More Info
        .column
          .title Art Services
          .text.center
            | Audrey Designs has been providing custom artwork and graphic
            | design services for over 15 years, specializing in both printed
            | and digital design. Graphic design, vector conversion, and digitizing, let
            | us help you with all of your custom design needs.
          a(href='/artservice')
            .info-link Get More Info
  section.primary
    .container
      .two-column
        .column
          .columnImg
        .column
          h2 What are DTF Transfers?
          .text.left DTF (Direct-To-Film) transfers represent a significant leap forward in the heat transfer printing industry. Offering unrivaled quality and versatility, they have quickly gained popularity among printers, business owners, and creative individuals seeking more options at a better price. Our DTF transfers can be applied on a wide range of materials including, cotton, nylon, treated leather, polyester, 50/50 blends and more (light and dark fabrics).
          a(href='/dtf')
            .link Get More Info
  section.secondary
    .container
      h1 How Do I Order?
      .text-space
      .three-column
        .column
          .circle 1
          .title Order Online
          .text.center
            | To order transfers or services online, you will need to create an account. Once your account is created, you will be able upload artwork and provide job specs with our online order form.
          a(href='/signup')
            .column-link Create an Account
        .column
          .circle 2
          .title Email Us
          .text.center
            | Just send us your art files, job specs, and contact information and we willl contact you to quote and process your order by email. Payment will be collected via digital invoice.
          .column-link
            a(href='mailto:info@audreyprint.com')
              img.small-icon(src='images/mailto_icon.png')
        .column
          .circle 3
          .title Call Us
          .text.center
            | Just give us a call and we will assist you in submitting art files, determining job specs, and provide pricing for your specific needs then send a digital invoice to collect your payment.
          a(href='tel:9492741972')
            .column-link Call (949) 274-1972
