extends newbase

block content
  .content
    .page-content-container
      .page
        h1 What Are DTF Transfers?
        img.right-page-image(src="images/dtf-info.png")
        .content-text
          | DTF (Direct-To-Film) transfers represent a significant leap forward in
          | the heat transfer printing industry. Offering unrivaled quality and
          | versatility, they have quickly gained popularity among printers,
          | business owners, and creative professional seeking better options at a
          | lower price. Our DTF transfers can be applied on a wide range of
          | materials including, cotton, nylon, treated leather, polyester, 50/50
          | blends and more (light and dark fabrics).
        .content-text
          | A DTF transfer is not just a piece of film; it&apos;s a sophisticated,
          | custom-printed product made up of three essential components.
        .content-head Components of a DTF Transfer:
        ol.content-text
          li
            span.bold Waterbased High Pigment Ink: 
            | The image on
            | a DTF transfer is created using specially formulated high pigment
            | DTF inks. These waterbased inks offer exceptional vibrancy and
            | flexibility, contributing to the final high-quality, durable print.
          li
            span.bold PET Film: 
            | The PET film acts as the
            | &apos;carrier&apos; of the printed image. It&apos;s not just any film but a
            | specialized surface that can hold the high-quality ink and the
            | adhesive necessary for the DTF process.
          li
            span.bold Hot Melt Powder: 
            | Applied to the printed
            | ink on the PET film, the hot melt powder is the &quot;glue&quot; or adhesive
            | that ensures the printed image securely adheres to the substrate
            | during heat pressing.
        .content-text
          | Once the image is printed onto the PET film and the adhesive is
          | applied and cured, the DTF transfer is prepared for its final
          | destination. A heat press activates the adhesive, allowing the image
          | to bond securely with the substrate. Once the heat press is lifted,
          | the film is cooled and peeled away, you&apos;re left with a vibrant,
          | full-color image perfectly transferred onto your item.
        .content-head Unique Advantages of DTF Transfers:
        ul.content-text
          li
            span.bold Vibrant, Full-Color Images: 
            | You&apos;re not
            | limited to a few colors with DTF transfers. We can reproduce
            | complex, multi-colored designs with impressive detail and vibrancy.
          li
            span.bold Quality You Can Feel: 
            | The latest DTF inks
            | and adhesives allow for high stretchability and a soft hand feel
            | that become even softer with time and washing.
          li
            span.bold High Durability: 
            | DTF transfers are
            | incredibly flexible, highly durable, and can withstand numerous
            | washes without fading or cracking, making them an excellent choice
            | for frequently used items.
          li
            span.bold Versatility: 
            | Unlike other methods that are
            | restricted to certain materials, DTF transfers can be applied to
            | various substrates, broadening the horizon for your creativity.
          li
            span.bold Ease of Use: 
            | Applying a DTF transfer is a
            | straightforward process. With a heat press, proper heat and
            | pressure, you can easily transfer a wide variety designs onto your
            | products.
          li
            span.bold Cost-Effective for Small Runs: 
            | For small
            | batch printing or one-off designs, DTF transfers are an economical
            | choice as they don&apos;t require the same level of setup as other
            | printing methods.
        .content-text
          | We are so excited to be able to offer this latest in printing
          | technology to you at a competitive price. Backed by our expertise in
          | design and years of experience, we are confident you will be more than
          | satisfied with our DTF transfers.
