extends newbase

block content
  html
    .content
      .page
        .image-row
          img.page-emoji(src="images/emoji_ohno.png")
        h1.center This page is temporarily unavailable.
        .text.center.bigger Our site is in the final stages of development. 
          | Thank you for your patience while we work on the finishing touches.  
          | Please check back soon or sign up for email updates to be notified
          | when the site is fully functional.
