extends newbase

block content
  .page-container
    .dashboard-container
      .dash-wrap
        include _dashboardnav
        .dashboard
          #profile.account-sections
            h1 Place An Order
            p This page is temporarily unavailable while our site is in the final stages of development. 
              | Thank you for your patience while we work on the finishing touches.  
              | Please check back soon or sign up for email updates to be notified
              | when the site is fully functional.