extends lpbase

block content
  .wrapper
    .content.brick-fill
      .contentContainer
        .contentFrame
          .content-header-title Transfer Gang Sheets
          img.right-page-image(src="/images/page_image-02.png")
          .content-text
            | With a variety of sizes available, our DTF Transfer Gang Sheets are the
            | most cost effective solution when you have ready to print artwork.
            | Just email your ready to print art files and we will take it from there! Our High Quality DTF (Direct
            | to Film) transfers allow anyone from small to large shops,
            | hobbyists, and individuals to print any design on any product. There is
            | virtually no limitation to what we can print whether you need
            | bright white, vintage-look, distressed, solids, gradients, or fine lines!
          .content-text
            | Print any combination of full color images with no limits on colors, no added art
            | fees, and no minimums. Just email your print ready artwork or give us a call and we&apos;ll be
            | happy to provide you with a quote or answer any questions.
          .content-title Gang Sheet Pricing
          .price-row.blue-box 
            .calc-group(style="text-align:center")
              .calc-texthead Gang Sheet Size
              .calc-text 22 x 12 in.
              .calc-text 22 x 24 in.
              .calc-text 22 x 60 in.
              .calc-text 22 x 120 in.
              .calc-text 22 x 144 in.
              .calc-text 22 x 180 in.
              
            .calc-group(style="text-align:center")
              .calc-texthead Price Per Sheet
              .calc-text $14.00
              .calc-text $23.00
              .calc-text $51.00
              .calc-text $90.00
              .calc-text $101.00
              .calc-text $119.00

            .calc-group(style="text-align:center")
              .calc-texthead 10+ Per Sheet
              .calc-text $12.00
              .calc-text $20.00
              .calc-text $44.00
              .calc-text $76.00
              .calc-text $86.00
              .calc-text $101.00
          .page-break
          form#sheetquote-calc-form.calculator
            .content-title Cost Calculator
            .calc-row    
              .calc-group
                label.form-input-title Select Sheet Size:
                .calc-row
                  select.form-select(id=`sheetsize` name="sheetsize" required)
                    option(value='') --please select--
                    option(value='22 x 12') 22 inches x 12 inches
                    option(value='22 x 24') 22 inches x 24 inches
                    option(value='22 x 60') 22 inches x 60 inches
                    option(value='22 x 120') 22 inches x 120 inches
                    option(value='22 x 144') 22 inches x 144 inches
                    option(value='22 x 180') 22 inches x 180 inches
              .calc-group 
                label.form-input-title(for="quantity") Quantity of Sheets:
                .calc-row
                  input.calc-form(id="quantity" name="quantity" type="number" placeholder="no minimums" required)
            .calc-row
              .calc-group 
                label.form-input-title(for="tax-exempt") Tax-Exempt:
                .radio-row
                  .radio-group
                    input(type="radio" id="exempt" name="tax-exempt" value="Exempt" checked)
                    label(for="exempt") Yes
                  .radio-group
                    input(type="radio" id="notexempt" name="tax-exempt" value="Not Exempt")
                    label(for="notexempt") No
                #tax-note Tax will vary based on your state and/or county. Orange County, CA tax rate will apply to quote. Actual tax rate will be determined when order is processed.
            .calc-group
              button.select.form-button Calculate
          #results 
            .page-break      
            .results-page-title Your Quote 
            .content-text The quote below is estimated and does not constitute a firm quote. Pricing is based on the information provided and may change as specifications change. This estimate does not include shipping and handling charges which may apply.
            .results-row
              .results-header.center-align Qty      
              .results-header Item Description     
              .results-header.center-align Price Each     
              .results-header.center-align Item Total     

              .results-group.center-align
                #totalQuantity 0      
              .results-group 
                #description    
              .results-group.center-align
                #cost   
              .results-group.center-align
                #subtotal 
            .results-break  
            .results-row
              .results-group      
              .results-group      
              .results-header.right-align 
                span#tax-rate 7.75
                | % Tax:
              .results-group.center-align 
                #tax 0.00
              .results-group      
              .results-group      
              .results-header.right-align
                span Total: 
              .results-group.center-align 
                #total $0.00
              #resultsDiv