extends newbase

block content
  html
    .content
      .page-content-container
        .page
          h1.left Vector Conversion
          .content-text
            img.right-page-image(src="images/vectorpage_image.png")
            | Years of professional experience makes Audrey Design &amp; Print
            | Studio an excellent choice for high quality vector images with a
            | quick turnaround. Vector art is required by many commerical
            | printers and is typically the best art option for consistent
            | clean results. We can provide you with vector art from a variety
            | of image sources. 
          h3 Accepted image sources include:
          ul.list 
            div
              li Scanned Artwork
              li Hand Drawn Images
              li Photographs
              li Printed Material
              li
                | Digital File Types:
                ul.sublist-items
                  li jpeg
                  li jpg
                  li png
                  li psd
                  li svg
                  li gif
                  li tif
                  li pdf
                  li eps
                  li doc/docx
                  li xls/xlsx
                  li ppt/pptx
          .content-text Just provide your source image and we will give you a competitive
            | quote to meet your budget. Converted vector art files will be saved and sent
            | to you in AI, EPS, or PDF format. Spot, Process, and Index color separation is also
            | available upon request.

          #showTextDiv
            | &#43; More Information on Raster/Vector Images
          .textDiv.hidden
            .page-break
            .content-text
              h2.left What is Vector Conversion?
              | Vector conversion is when a raster file is modified or redrawn
              | into a vector format. A raster image can be redrawn in two ways:
            ol.content-text
              li.content-text
                h3 Using Simplified Vectors
                | When an image is converted into vector, the resultant image
                | will be a simplified version of the original one. Simple
                | vectorized images are suitable for all processes including
                | those that require “True Vector”.
              li.content-text
                h3 Using Vectors &amp; Gradients
                | An image created using vectors and gradients may look slightly
                | different than the original one, but it may not be suitable
                | for all processes that require 100% vector.

            h2.left Why do I need Vector Conversion?
            .content-text
              ol
                li.content-text
                  h3 Scalability and Performance
                  | Vector images are best used for logos and illustrations,
                  | technical drawings, signs, engraving, etching, and other processes that require 
                  | flexible color and sizing. One key advantage to working with vector images is that a 
                  | multi-color vector image can easily be
                  | converted into a single-color image. Limited colors are often
                  | required in the promotional printing industry to decorate items
                  | such as pens, cups, bottles, etc. 
                  br
                  br
                  | Another key advantage is scalability. Vector images maintain thier image quality and 
                  | can be enlarged to virtually any size needed for printing.
              
                li.content-text
                  h3 Changing an Image from CMYK to Spot Color
                  | Since most raster images can only be printed in CMYK (or
                  | 4-color process), the colors in your design may not print
                  | exactly as expected. CMYK refers to the four colors of inks
                  | used in commercial printing: cyan, magenta, yellow, and black.
                  | CMYK prints use a blend of these four colors to create a full
                  | color image result.
                  br
                  br
                  | Spot colors are pre-mixed inks that are applied only to the
                  | area assigned for each particular color. This ensures complete
                  | control over the tones of the colors in the final printed
                  | design. If the colors in your design need to be an exact match
                  | to a pre-selected tone, we can convert your raster images to
                  | vector graphics with spot colors.
            h2 Raster VS. Vector
            .content-text
              img.right-page-content(src="images/VectorPage_Image-01.png")
              h3 Raster Images
              | Raster and Vector are two types of file formats which have
              | different applications in the world of design. Raster images,
              | often called bitmap images, are made of millions of tiny
              | squares called pixels. When you zoom a raster image, you will
              | clearly see the square outlines of each pixel. The images
              | captured using a camera or scanner are raster images. Examples
              | of digital raster files include - jpeg, gif, and png. Raster images like
              | photographs hold a lot of detail and are versatile in
              | design. However, it can become pixelated and loses resolution when
              | enlarged. These files are acceptable for digital publication and
              | print media such as books, magazines, and newspapers. Raster
              | images should always be saved in a high DPI (dots per inch) setting before saving them
              | for print.
            .page-break
            .content-text
              img.left-page-content(src="images/VectorPage_Image-02.png")
              h3 Vector Images
              | A vector image is composed of lines (paths) and shapes which are
              | digitally composed using mathematical calculations. Such images
              | are created by combining tiles of different shapes and sizes.
              | These shapes are called objects, which display one single color
              | each. If you zoom in on a vector image, it won&apos;t get blurry or
              | pixelated and maintains consistent image quality. A vector image
              | can be scaled to any size or resolution and is easy to transmit
              | over the Internet. Vector graphics can be created with
              | Illustration software such as Illustrator, CorelDraw, Inkscape,
              | and more.
