:root {
  --red: #cc1e17;
  --darkred: #940e09;
  --black: rgb(0, 0, 0);
  --offblack: rgb(25, 25, 28);
  --offwhite: rgb(170, 170, 170);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.quoteDiv {
  position: fixed;
  right: 0;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 6;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(3px);
  color: var(--offblack);
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
}

#quoteForm {
  margin: auto;
  display: none;
  width: 90vw;
  max-width: 1000px;
  background-color: white;
  border: 2px solid black;
  color: var(--offblack);
  padding: 50px 70px 20px 70px;
  overflow: scroll;
}

#quoteForm h1 {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 2.2rem;
  margin-block-start: 0em;
  margin-block-end: 0em;
  line-height: 120%;
}

#quoteForm h2 {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.15rem;
  margin-block-start: 25px;
  margin-block-end: 10px;
  line-height: 120%;
}

.form-h2 {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.15rem;
  margin-block-start: 10px;
  margin-block-end: 10px;
  line-height: 120%;
}

.quoteText {
  font-size: 1.15rem;
}

#quoteForm > hr {
  margin: 20px auto;
}

.radio-group {
  display: grid;
  width: fit-content;
  grid-template-columns: auto auto;
}

.radio-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-right: 20px;
}

.radio-row label {
  line-height: 115%;
  padding: 10px 0px;
}

#quoteForm textarea {
  margin: 10px;
  width: 100%;
  min-height: 150px;
}

#quoteForm button {
  margin: 20px auto;
  width: 100%;
  height: 55px;
  background-color: var(--red);
  color: white;
  border: 1px solid var(--darkred);
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 50px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
}

#quoteForm button:hover {
  background-color: var(--darkred);
  scale: 0.98;
}

input[type='radio'] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: var(--darkred);
  width: 25px;
  height: 25px;
  border: 1px solid var(--black);
  border-radius: 3px;
  display: grid;
  place-content: center;
}

input[type='radio']::before {
  content: '';
  width: 0.65em;
  height: 0.65em;
  border-radius: 3px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--red);
}

input[type='radio']:checked::before {
  transform: scale(1);
}

.radio-row input {
  margin: 10px 7px 10px 15px;
}

.form-class {
  width: 100%;
  min-height: 55px;
  font-size: 1rem;
  padding: 10px;
  margin: 10px;
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form-column {
  width: 46%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.open {
  text-decoration: none;
  color: white;
}

#close {
  color: var(--red);
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 15px;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.6s;
}

#close:hover {
  transform: rotate(180deg);
}

.calculator {
  padding: 40px 50px 10px 50px;
  background-color: var(--black);
  margin: 40px 0px 10px 0px;
}

.calculator .content-text {
  margin-block-start: 5px;
  margin-block-end: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  margin-block-start: 20px;
  margin-block-end: 20px;
  align-items: flex-start;
  justify-content: space-between;
}

.group > .row {
  margin-block-start: 0px;
  margin-block-end: 0px;
  align-items: center;
}

.group {
  display: flex;
  width: 49%;
  flex-direction: column;
}

.group input[type='number'] {
  width: 100%;
  background-color: var(--offblack);
  color: white;
  border: 1px solid var(--offwhite);
  height: 45px;
  border-radius: 3px;
  padding: 8px 16px;
  margin: 7px;
  font-size: 1.05rem;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid2 {
  display: grid;
  grid-template-columns: auto auto;
}

.calculator-label {
  font-size: 1.2rem;
  color: white;
  margin: 5px;
}

.results-group input[type='text'] {
  width: 100%;
  background-color: var(--offblack);
  color: white;
  border: 1px solid var(--offwhite);
  height: 45px;
  border-radius: 3px;
  padding: 8px 16px;
  margin: 7px;
  font-size: 1.05rem;
}

.results-group input[type='number'] {
  text-align: center;
}

.right-align input[type='number'],
.right-align input[type='text'] {
  text-align: right;
}

.results-page-title {
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: 500;
  color: white;
  line-height: 100%;
}

.results-break {
  width: 100%;
  height: 2px;
  background-color: var(--red);
  margin: 20px auto;
}

#total {
  color: var(--red);
  font-size: 1.3rem;
  font-weight: 600;
}

#message-form {
  width: 100%;
  padding: 30px 50px;
  background-color: var(--black);
  margin-top: 20px;
}

.contact-row {
  display: flex;
  flex-direction: row;
}

.contact-column {
  width: 50%;
  text-align: center;
}

.page-break {
  height: 3px;
  width: 100%;
  margin: 20px auto;
}

.artpage-break {
  height: 3px;
  width: 100%;
  margin: 50px auto;
}

.artpage-break:first-of-type {
  margin: 30px auto;
}

.contact-title {
  font-size: 1.5rem;
}

.contact-title a {
  transition: 0.5s ease;
}

.contact-title a:hover {
  scale: 1.1;
  color: var(--red);
}

.message-input {
  width: 100%;
  background-color: var(--offblack);
  color: white;
  border: 1px solid var(--offwhite);
  height: 45px;
  border-radius: 3px;
  padding: 5px 15px;
  margin: 7px 0px;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.message-area {
  width: 100%;
  background-color: var(--offblack);
  color: white;
  border: 1px solid var(--offwhite);
  border-radius: 3px;
  padding: 5px 15px;
  margin: 7px 0px;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.message-label {
  font-size: 1.2rem;
}

#message-form .row {
  margin-block-start: 10px;
  margin-block-end: 10px;
}

@media only screen and (max-width: 900px) {
  .three-column,
  .two-column {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .quoteDiv {
    padding-top: 50px;
  }

  #quoteForm {
    width: 100vw;
    padding: 50px 10px 20px 10px;
    position: relative;
  }

  .form-row {
    flex-direction: column;
  }

  .form-class {
    min-height: 0px;
  }
}
