.breadcrumb-bar {
  padding-bottom: 0px;
}

.breadcrumb-bar a {
  font-weight: 300;
  color: gray;
  opacity: 0.5;
  padding: 0px 3px;
}

.breadcrumb-bar a:last-of-type {
  font-weight: 400;
  opacity: 1;
}

.breadcrumb-bar a:hover {
  opacity: 1;
}

.customergrid {
  width: 100%;
  display: grid;
  grid-template-columns: 35% 45% 20%;
  margin: 0px auto 20px auto;
}

.orderpage-title {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.75em;
  padding: 40px 0px 40px 0px;
  font-weight: 400;
  color: var(--blue);
}

.orderContent {
  width: 100%;
  font-size: 1rem;
  margin: 0px auto 20px auto;
  color: var(--darkblue);
}

.ordertable-title {
  font-size: 1.3em;
  margin: 20px 0px 5px 0px;
  color: var(--darkblue);
}

.ordertable-subtitle {
  font-size: 1.1em;
  font-weight: 400;
  margin-top: 5px;
  color: var(--blue);
}

.ordertable-text {
  font-size: 1.2em;
  font-weight: 300;
  color: gray;
  margin-top: 5px;
}

.orderContent th {
  padding: 20px 0px 10px 0px;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: 400;
  width: 12.5%;
  color: var(--blue);
}

.order-content-image {
  max-height: 80px;
  margin: 0px auto;
  text-align: center;
  background-color: var(--light);
  padding: 5px 10px;
}

.ordertable-columns {
  width: 100%;
  text-align: center;
}

.ordertable-column {
  display: inline-block;
  width: 14.2%;
}

.table-break {
  width: 100%;
  height: 1.2px;
  background-color: var(--blue);
  margin: 10px auto;
  opacity: 0.5;
}

@media only screen and (max-width: 878px) {
  .orderpage-title {
    padding: 10px;
  }
  .customergrid {
    display: flex;
    flex-direction: column;
  }

  .orderContent,
  .customergrid {
    font-size: 0.75rem;
  }

  .orderContent th {
    font-size: 1.2em;
  }
}
